<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1328EFD1F63BF6F0079566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1328F111F63BF6F0079566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1328F1C1F63BF6F0079566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
